@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";

.grayscale {
  filter: grayscale(100%);
}

.memory-wall-portrait {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  max-width: 7rem;
  word-wrap: break-word;

  &.evicted {
    font-weight: 100;
    color: grey;
    background-color: #111111;
  }
}
