.grayscale {
    filter: grayscale(100%);
}

.sepia {
    filter: sepia(100%);
}

.box {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

.memory-wall-portrait {
    margin: 5px;
    border: 1px solid grey; // TODO: this looks bad in dark mode -- it needs to be changed into a styled component.
    color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    max-width: 7rem;
    word-wrap: break-word;

    &.evicted {
        font-weight: 100;
        color: grey;
        background-color: #111111;
    }

    &.jury {
        font-weight: 100;
        color: #c3ae88;
        background-color: #5d5340;
        filter: brightness(0.6);
    }
}
