@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/elements/box.sass";
@import "../../../node_modules/bulma/sass/grid/columns.sass";
@import "../../../node_modules/bulma/sass/elements/form.sass";
@import "../../../node_modules/bulma/sass/elements/button.sass";

.grayscale {
  filter: grayscale(100%);
}

.portrait-history {
  font-weight: 100;
  font-size: small;
}

.edit-portrait {
  padding: 5px;
  margin: 5px;
  border: 1px solid grey;
  color: black;
  border-radius: 5px;
  font-weight: 600;
  max-width: 7rem;
  word-wrap: break-word;
}

.memory-wall-portrait {
  padding: 5px 12px;
  margin: 5px;
  border: 1px solid grey;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  max-width: 7rem;
  word-wrap: break-word;

  &.evicted {
    font-weight: 100;
    color: grey;
    background-color: #111111;
  }
}
.x-button {
  color: #df4040;
}

.x-button:hover {
  color: red;
  background-color: #ffe1ea;
}

.x-button:active {
  color: #ff7133;
  background-color: #ffd8c7;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
