@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/components/level.sass";
@import "../../../node_modules/bulma/sass/elements/tag.sass";

.main-page {
    margin: auto;
    max-width: 1380px;
    overflow: hidden;
}
